<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

<!-- CSS Stylesheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/fontawesome.min.js" integrity="sha512-nKvEIGRKw2OQCR34yLfnWnvrOBxidLG9aK+vzsBxCZ/9ZxgcS4FrYcN+auWUTkCitTVZAt82InDKJ7x+QtKu6g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Bootstrap Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>


  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand " href="/succ">   <i class="fa fa-university" aria-hidden="true"></i> </i>SAFE IT</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#row">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cta">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="logout"> <button type="button " class="btn btn-light btn-sm login-button"><i class=" fa-solid fa-user">&nbsp;&nbsp;</i>Log Out</button> </a>
            </li>
            
          </ul>

        </div>
      </nav>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="big-heading">The most secure & transparent banking ever .</h1>
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
        </div>

        <div class="col-lg-6">
          <img class="title-image" src="images/businessman-using-mobile-phone-app-texting-blue.jpg" alt="img">
        </div>

      </div>

    </div>

  </section>


  <!-- Features -->
  <br><br>
  <%userList.forEach(register => {%>
    <p>ACCOUNT NUMBER:<%= register.accno %></p> <br>
  <p>ACCOUNT BALANCE:<%= register.amount %></p>
   <%})%>
   <br><br><br>

  <!-- Press -->

  <section class="colored-section" id="press">
    <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

  </section>


  <!-- Pricing -->

  <section class="white-section" id="pricing">

    <h2 class="section-heading">Explore these plans</h2>
    <p>Simple and transparent loan plans </p>

    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>PLAN BETA</h3>
          </div>
          <div class="card-body">
            <img class="img" src="images/rupeesIcon.png" alt="img">
            <h2 class="price-text">Regular</h2>
            <p>Covering loans from Rs.10,000 upto Rs.50,000</p>
            <p>Interest rate: 5%</p>
              <a class="getb" href="/login"> <button class= "btn btn-lg btn-block btn-dark" type="button" >Get Plan</button></a>
           
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>PLAN SIGMA</h3>
          </div>
          <div class="card-body">
            <img class="img" src="images/rupeesIcon.png" alt="img">
            <h2 class="price-text">Housing</h2>
            <p>Covering loans from Rs.50,000 to Rs.10,00,000</p>
            <p>Interest rate: 4%</p>
          <a class="getb" href="/login"> <button class= "btn btn-lg btn-block btn-dark" type="button" >Get Plan</button></a>
          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>PLAN ALPHA</h3>
          </div>
          <div class="card-body">
            <img class="img" src="images/rupeesIcon.png" alt="img">
            <h2 class="price-text">Large-Scale</h2>
            <p>Covering loans from Rs.10,00,000to Rs.50,00,000</p>
            <p>Interest rate: 3.5%</p>
            
            <a class="getb" href="/login"> <button class= "btn btn-lg btn-block btn-dark" type="button" >Get Plan</button></a>
          </div>
        </div>
      </div>



    </div>

  </section>


  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">

      <h3 class="big-heading">We’re here to help you spend and save smarter.</h3>
      <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i> Download</button>
      <button class="download-button btn btn-lg brn-light" type="button"><i class="fab fa-google-play"></i> Download</button>
    </div>
  </section>


  <!-- Footer -->

  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2020 SAFEIT</p>
    </div>
  </footer>


</body>
</html>