   <!DOCTYPE html>
   <html lang="en">
   <head>
    {{>header}}
   </head>
   <body>
    {{>navbar1}}
    <br>
    <br>
    <br>
    <section id="1">
    <div class="container" >
        <div class="row">
        <div class="col-md-3">
                      
        </div>
                  
        <div class="col-md-6 main">
                      
            <form action="/login" method="post">
                      
            <h1> Login form </h1>

                              
            <input class="box" type="text" name="accno" id="accno" 
            placeholder="Account Number " required /><br>
                              
            <input class="box" type="password" name="password" 
            id="password" placeholder="Password " required/><br>

            <input type="submit" id="submitDetails"  
            name="submitDetails" value="LOGIN" /><br></a>
                      
            </form>
                      
        </div>
                  
                  
        <div class="col-md-3">
        </div>
        </div>
        </section>
     
   <footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2020 SAFEIT</p>
    </div>
  </footer>
   
    </div>
    
   </body>
   </html>